---
title: Home
title_reverse: true
---
<div id="main-container" class="container-fluid" data-spy="scroll"> 
    <%= partial 'partials/home/layer_home' %>
    <%= partial 'partials/home/layer_apartment' %>
    <%= partial 'partials/home/layer_location' %>
    <%= partial 'partials/home/layer_reviews' %>
    <%= partial 'partials/home/layer_contact' %>
</div>
